<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
</head>
<body>
<form method="post" th:action="@{/search}">
    <label for="searchInput" th:text="'Search: '">Search: </label>
    <input type="text" id="searchInput" th:name="searchText">
    <input type="submit">
</form>
<a th:href="@{/todo/add}" th:text="'Add new todo'">Add new todo</a><br>
<a th:href="@{/todo/assignees}" th:text="'Assignees'">Assignees</a>
<table>
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Assignee</th>
        <th>Created</th>
        <th>Deadline</th>
        <th>Urgent</th>
        <th>Done</th>
    </thead>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.getDescription()}"></td>
        <td th:if="${todo.assignee}" th:text="${todo.assignee.name}"></td>
        <td th:unless="${todo.assignee}" th:text="'no assignement'"></td>
        <td th:text="${todo.created}"></td>
        <td th:text="${todo.deadline}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td><a th:text="${'delete'}" th:href="@{/{id}/delete(id = ${todo.id})}"></a></td>
        <td><a th:text="${'edit'}" th:href="@{/{id}/edit(id = ${todo.id})}"></a></td>
    </tr>
</table>

</body>
</html>